useDynLib(multilevLCA)
# useDynLib(multilevLCA, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(multiLCA)
S3method("print", "multiLCA")
S3method("plot", "multiLCA")
export(plot.multiLCA)
importFrom(Rcpp, evalCpp)
importFrom(utils, lsf.str)
importFrom(graphics, axis, lines, par)
importFrom(stats, complete.cases, dbinom, kmeans, na.omit, pnorm, prcomp, rbinom, rnorm)
importFrom(utils, tail)
importFrom(dplyr, count)
importFrom(dplyr, group_by_all)
importFrom(tidyr, expand_grid)
importFrom(klaR, kmodes)
import(MASS, foreach, parallel)
import(magrittr)
